<div id="container">
	<header class="global">
		<%= link_to '/' do %>
			<h1>Beta<span>Report</span>Jan2012</h1>
		<% end %>
	</header>
	
	<div class="region r1">
		<div class="synopsis s1">
			<h2>Trend</h2>
			
			<div class="thumb">
				<%= image_tag("") %>
			</div>
				
			<div class="narrative">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris.</p>
			</div>
		</div> <!-- .synopsis -->
	</div> <!-- .region -->
	
	<div class="region r2">
	
		<div class="synopsis split left s1">
			<h2>Digital</h2>
			
			<div class="thumb">
				<%= image_tag("") %>
			</div>
			
			<div class="narrative">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris.</p>
			</div>
		</div> <!-- .synopsis -->
		
		<div class="synopsis split s2">
			<h2>Title</h2>
			
			<div class="thumb">
				<%= image_tag("") %>
			</div>
			
			<div class="narrative">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris.</p>
			</div>
		</div> <!-- .synopsis -->

		<div class="synopsis s3">
			<h2>Title</h2>
			
			<div class="thumb">
				<%= image_tag("") %>
			</div>
			
			<div class="narrative">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris.</p>
			</div>
		</div> <!-- .synopsis -->
		
		<div class="synopsis s4">
			<h2>Title</h2>
			
			<div class="thumb">
				<%= image_tag("") %>
			</div>
			
			<div class="narrative">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris.</p>
			</div>
		</div> <!-- .synopsis -->
	</div> <!-- .region -->
	
	<div class="region r3">
		<div class="synopsis s1">
			<h2>Title</h2>
			
			<div class="thumb">
				<%= image_tag("") %>
			</div>
			
			<div class="narrative">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris.</p>
			</div>
		</div> <!-- .synopsis -->

		<div class="synopsis s2">
			<h2>Title</h2>
			
			<div class="thumb">
				<%= image_tag("") %>
			</div>
			
			<div class="narrative">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris.</p>
			</div>
		</div> <!-- .synopsis -->

		<div class="synopsis split left s3">
			<h2>Title</h2>
			
			<div class="thumb">
				<%= image_tag("") %>
			</div>
			
			<div class="narrative">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris.</p>
			</div>
		</div> <!-- .synopsis -->

		<div class="synopsis split s4">
			<h2>Title</h2>
			
			<div class="thumb">
				<%= image_tag("") %>
			</div>
			
			<div class="narrative">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris.</p>
			</div>
		</div> <!-- .synopsis -->
	</div> <!-- .region -->
	
	<div class="region r4">
		<div class="synopsis split s1">
			<h2>Title</h2>
			
			<div class="thumb">
				<%= image_tag("") %>
			</div>
			
			<div class="narrative">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris.</p>
			</div>
		</div> <!-- .synopsis -->
		
		<div class="synopsis split s2">
			<h2>Title</h2>
			
			<div class="thumb">
				<%= image_tag("") %>
			</div>
			
			<div class="narrative">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris.</p>
			</div>
		</div> <!-- .synopsis -->
		
		<div class="synopsis split s3">
			<h2>Title</h2>
			
			<div class="thumb">
				<%= image_tag("") %>
			</div>
			
			<div class="narrative">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris.</p>
			</div>
		</div> <!-- .synopsis -->
		
		<div id="bulb">
			<%= image_tag("lightbulb.png") %>
		</div>
	</div> <!-- .region -->
	
	<footer class="global">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
	</footer>
</div> <!-- #container -->